.card {
	grid-row: 1;
	width: 70%;
	height: min-content;
	border-radius: 20px;

	display: grid;
	grid-template-columns: repeat(2, minmax(min-content, 1fr));
	align-items: center;
	overflow: hidden; // allows me to round edges of image and card
	background-color: $primary-2;

	&__info {
		display: grid;
		grid-template-rows: repeat(3, min-content);
		gap: 5rem 0;
		padding: 0 7.5rem;
	}

	&__heading {
		font-size: 3rem;
		line-height: 1.5;
		font-family: $primary-font;
		font-weight: 700;
		letter-spacing: 0.1rem;
		color: $neutral-1;

		span {
			color: $primary-3;
		}
	}

	&__text {
		font-family: $secondary-font;
		font-size: 1.5rem;
		color: $neutral-2;
		line-height: 1.5;
	}

	&__stats {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: flex-start;

		&.-companies,
		.-templates,
		.-queries {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			font-family: $primary-font;
			font-size: 1.3rem;
			color: $neutral-3;
			letter-spacing: 0.1rem;

			p {
				font-size: 2.5rem;
				color: $neutral-1;
				font-family: $secondary-font;
				margin-bottom: 1rem;
			}
		}
		&.-companies {
		}

		&.-templates {
		}

		&.-queries {
		}
	}

	&__hero {
		background-color: darken($primary-3, 30%);
		filter: saturate(200%);

		img {
			opacity: 0.6; // set opacity so background color comes through
			width: 100%;
			display: block;
		}
	}
}

.attribution {
}
