.card {
	grid-row: 1;
	width: 70%;
	height: min-content;

	display: grid;
	grid-template-columns: 1fr 1fr;

	&__info {
	}

	&__heading {
	}

	&__text {
	}

	&__stats {
		&.-companies {
		}

		&.-templates {
		}

		&.-queries {
		}
	}

	&__hero {
	}
}

.attribution {
}
