.card {
	grid-row: 1;
	grid-column: 2;
	height: min-content;
	border-radius: 20px;

	display: grid;
	grid-template-columns: repeat(2, minmax(min-content, 1fr));
	align-items: center;
	overflow: hidden; // allows me to round edges of image and card
	background-color: $primary-2;

	@media only screen and (max-width: $mobile) {
		margin-top: 2rem;
		width: 90vw;
		display: grid;
		grid-template-rows: repeat(2, min-content);
		grid-template-columns: none;
	}

	&__info {
		display: grid;
		grid-template-rows: repeat(3, min-content);
		gap: 5rem 0;
		padding: 0 7.5rem;

		@media only screen and (max-width: $mobile) {
			grid-row: 2;
			gap: 2rem 0;
			padding: 0 3rem;
			justify-items: center;
		}
	}

	&__heading {
		font-size: 3rem;
		line-height: 1.5;
		font-family: $primary-font;
		font-weight: 700;
		letter-spacing: 0.1rem;
		color: $neutral-1;

		@media only screen and (max-width: $mobile) {
			font-size: 2.5rem;
			padding: 2rem;
			text-align: center;
		}
		span {
			color: $primary-3;
		}
	}

	&__text {
		font-family: $secondary-font;
		font-size: 1.5rem;
		color: $neutral-2;
		line-height: 1.5;

		@media only screen and (max-width: $mobile) {
			text-align: center;
			line-height: 1.8;
		}
	}

	&__stats {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: flex-start;

		@media only screen and (max-width: $mobile) {
			grid-template-rows: repeat(3, minmax(max-content, 1fr));
			grid-template-columns: none;
			padding: 2rem;
		}

		&.-companies,
		.-templates,
		.-queries {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			font-family: $primary-font;
			font-size: 1.3rem;
			color: $neutral-3;
			letter-spacing: 0.1rem;

			@media only screen and (max-width: $mobile) {
				align-items: center;
				// justify-content: center;
				// come back to this because bottom is not aligned
			}

			p {
				font-size: 2.2rem;
				color: $neutral-1;
				font-weight: 700;
				margin-bottom: 1rem;
			}
		}

		&.-queries {
			@media only screen and (max-width: $mobile) {
				justify-self: center;
			}
		}
	}

	&__hero {
		background-color: darken($primary-3, 30%);
		filter: saturate(200%);

		img {
			opacity: 0.6; // set opacity so background color comes through
			width: 100%;
			display: block;
		}
	}
}

.attribution {
	grid-row: 2;
	grid-column: 2;

	@media only screen and (max-width: $mobile) {
		grid-row: 2;
		margin-top: 2rem;
	}
}
